<% include ../hf/header %>
<div class="text-center display-3 mb-3" style="font-weight: 400">Add a Camp</div>
<div style="width: 30%" class="mx-auto">
        <form action="/campaign" method="POST">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="camp name" name="name"  style="width: 100%">
            </div>
            <div class="form-group">  
                <input type="text" class="form-control" placeholder="img url" name="image">
            </div>
            <div class="form-group">  
                <textarea class="form-control" placeholder="Description" name="desc"></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block">Add</button>
            </div>
        </form>
        <div class="d-flex justify-content-center">
            <a href="/campaign"><button class="btn btn-danger mx-auto">Go Back</button></a>
        </div>
</div>
<% include ../hf/footer %>
