<% include hf/header %>
<h1 class="display-1 text-center">WELCOME TO THE YELPCAMP!!!</h1>
<div class="d-flex justify-content-center">
    <a href="/campaign">
        <button class="btn btn-lg btn-warning mt-3">Visit The Camp</button>
    </a>
</div>
<% include hf/footer %>